---
layout: default
---

<h1 class='text-3xl font-semibold tracking-loose mb-2'><%= data.title %></h1>

<div class='flex gap-x-2'>
  <% data.categories.each do |c| %>
    <div class='inline-block bg-blue-100 bg-gradient-to-b from-blue-50 to-blue-100 text-blue-900 text-xs font-semibold py-1 px-3 rounded-xl'><%= c %></div>
  <% end %>
</div>

<%= yield %>
