<div class='flex gap-x-1'>
  <div class='flex-none'>
    <img src="<%= image_url %>" alt="" class="w-6 h-6 rounded-full">
  </div>
  <div class='flex-1 font-medium text-sm'>
    <%= name %>
  </div>
</div>
