<div class="py-2 sm:flex sm:px-4x">
  <dt class="text-sm flex-none sm:w-32 font-medium text-gray-500"><%= @title %></dt>
  <dd class="mt-1 text-sm flex-1 text-gray-900 sm:mt-0">
    <%= @value || content %>
  </dd>
</div>