---
layout: page
tab: about
title: About Open User Stories
---

<div class='prose'>
  <p>At Open User Stories, we are passionate about revolutionizing the world of software product management. Our journey began with a simple yet powerful idea: to provide a platform where product managers, developers, and innovators could easily access a wealth of free, reusable user stories. We believe that by sharing knowledge and expertise, we can drive innovation and make the development process more efficient, fostering a stronger sense of community among professionals in the field.</p>

  <p>Our mission is to empower product managers and teams to achieve their software development goals faster and more effectively. With a comprehensive collection of user stories, expert insights, and a vibrant community, we aim to be the catalyst for transforming ideas into impactful products. Whether you're a seasoned product manager or just starting your journey, Open User Stories is your partner in success. Join us, collaborate, and contribute to the future of software development – together, we can shape the industry's future and make innovation accessible to all.</p>

  <h2>How to Contribute</h2>

  <p>Visit our GitHub repository at <a href='https://github.com/OpenUserStories/openuserstories'>https://github.com/OpenUserStories/openuserstories</a> to modify the site code, add a new user story, or improve an existing one!</p>
  
  <p>The website's source code is licensed under the Apache 2.0 license, and the site's content is licensed under the Create Commons 4.0 Attribution license.</p>
</div>