---
layout: page
tab: stories
title: Open User Stories
---

<p class="text-lg text-gray-600"><%= site.metadata.description %></p>
<div class='mt-8'>
  <% collections.stories.resources.each do |r| %>
    <%= render Stories::Card.new(r) %>
  <% end %>
</div>
