<div>
  <div class="text-sm font-medium flex gap-x-1">
    <div class='flex-none'>
      This work is licensed under
      <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" class="link" target="_blank" rel="license noopener noreferrer">
        CC BY 4.0
      </a>
    </div>

    <div class='flex-none self-center'>
      <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" class="link" target="_blank" rel="license noopener noreferrer">
        <img class='w-4' src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
      </a>
    </div>

    <div class='flex-none self-center'>
      <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" class="link" target="_blank" rel="license noopener noreferrer">
        <img class='w-4' src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
      </a>
    </div>
  </div>

  <div class='mt-1 text-xs'>
    This license requires that reusers give credit to the creator. It allows reusers to distribute, remix, adapt, and build upon the material in any medium or format, even for commercial purposes.
  </div>
</div>